{
  "presets": [
    ["modern-async", {
      "electron": true,
      "promise": "bluebird"
    }]
  ],
  "plugins": [
    "lodash",
    ["module-resolver", {
      "root": ["./src"]
    }]
  ],
  "comments": false
}
