{
  "presets": [
    ["modern-async", {
      "fast-async": {
        "runtimePattern": "(?:electron|main)\\.js"
      },
      "electron": true
    }]
  ],
  "plugins": [
    "lodash",
    ["module-resolver", {
      "root": ["./src"]
    }]
  ],
  "comments": false
}
