{
  "extends": "airbnb/base",
  "globals": {
    "Logger": true,
    "Settings": true,
    "Transit": true,
    "Emitter": true,
    "WindowManager": true,
    "PlaybackAPI": true,
    "GPM": true,
    "$": true
  }
}