{
  "rules": {
    "max-len": [1, 150],
    "no-var": 2,
    "prefer-const": 1
  },
  "globals": {
    "Logger": true,
    "Settings": true,
    "Transit": true,
    "Emitter": true,
    "WindowManager": true,
    "PlaybackAPI": true,
    "GPM": true
  }
}