*.DS_Store
.idea/
db/
nw/
node_modules/
config/
build/
Singularity-Dev.lnk
src/public/js/vendor/betterttv.user.js
src/public/views/overlays/images
src/public/views/overlays/fonts
src/public/views/ui-kits/
src/public/views/table/
src/public/views/pages/
src/public/views/icons/
src/public/views/form/
src/public/views/components/
outputs/
dbStructure.js