*.DS_Store
.idea/
node_modules/
build/
src/public/js/vendor/betterttv.user.js
src/public/views/overlays/images
src/public/views/overlays/fonts
src/public/views/ui-kits/
src/public/views/table/
src/public/views/pages/
src/public/views/icons/
src/public/views/form/
src/public/views/components/
src/app/bot/cooldown/
/singularity.bat
/singularity.lnk
