<html>
<head>
    <script src="../js/jquery-2.2.1.min.js"></script>
    <script>
        $(document).ready(function() {
            var username = '';
            var access_token = "oauth:" + document.location.hash.substring(14, 44);

            var jqxhr = $.getJSON(
                    'https://api.twitch.tv/kraken?oauth_token=' + access_token.slice(6) +
                    '&client_id=' + '41i6e4g7i1snv0lz0mbnpr75e1hyp9p',
                function (data) {
                    console.log(data.token.user_name);
                    username = data.token.user_name;
                }).done(function() {
                    console.log(access_token + '  /  ' + username);
                    $.get("auth/callback", { "token": access_token, "user": username });
                    window.location.assign('http://localhost:2016/setup#done');
                });
        });
    </script>
</head>
<body>

<div style="text-align: center; width: 98vw;">
    <p>Loading...</p>
</div>

</body>
</html>