<html>
	<head>
		<meta charset="utf-8">
		<title>Twitch Chat</title>
        <link rel="stylesheet" type="text/css" href="../css/vendor/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="../css/vendor/font-awesome.min.css">
        <!-- CSS App -->
        <link rel="stylesheet" type="text/css" href="../css/style.css">
        <link rel="stylesheet" type="text/css" href="../css/themes/flat-main.css">
        <link rel="stylesheet" type="text/css" href="../css/chat.css">
        <link rel="stylesheet" type="text/css" href="../css/vendor/waves.css" />
        <script>
            var isNwjs = false;
            try {
                isNwjs = (typeof require('nw.gui') !== 'undefined');
                console.log('Running in NW.js');
            } catch(e) {
                isNwjs = false;
                console.log('Running in browser');
            }
        </script>
	</head>
	<body class="flat-main">
        <div id="chat-container">
            <div id="chat_box"></div>
            <div id="spacer"></div>
            <div id="msg-box">
                <textarea placeholder="Send a message" class="chat-input" maxlength="500"></textarea>
            </div>
            <div id="msg-controls">
                <div class="controls-left">
                    <div class="dropup" style="display: inline;">
                        <button type="button" class="btn btn-link waves-effect waves-light" data-toggle="dropdown"><i class="fa fa-gear"></i></button>
                        <ul class="dropdown-menu">
                            <li><a href="#">HTML</a></li>
                            <li><a href="#">CSS</a></li>
                            <li><a id="btn-pop-out" href="#"><i class="fa fa-external-link-square"></i>&nbsp;&nbsp;POP OUT</a></li>
                        </ul>
                    </div>
                </div>
                <div class="controls-right">
                    <button type="button" class="btn btn-link waves-effect waves-light"><i class="fa fa-smile-o"></i></button>
                    <button type="submit" class="btn btn-info btn-chat waves-effect waves-light">SEND</button>
                </div>
            </div>
            <div id="bottom"></div>
        </div>
        <!-- ejs -->
        <script>
            var CHANNEL = {
                name: '<%= channel %>',
                token: '<%= token %>'
            };
            var clientID = '<%= clientID %>';
        </script>
		<script type="text/javascript" src="../js/vendor/jquery.min.js"></script>
        <script type="text/javascript" src="../js/vendor/bootstrap.min.js"></script>
        <script type="text/javascript" src="../js/vendor/tmi.js"></script>
        <script type="text/javascript" src="../js/vendor/moment.min.js"></script>
        <script type="text/javascript" src="../js/vendor/waves.js"></script>
		<script type="text/javascript" src="../js/chat.js"></script>
        <script type="text/javascript" src="../js/vendor/kappa.min.js"></script>
	</body>
</html>