<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>singularity - Twitch Login</title>
    <!-- styling -->
    <link rel="stylesheet" type="text/css" href="../css/themes/paper.bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="../css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="../css/style.css" />
    <link rel="stylesheet" type="text/css" href="../css/login.css" />
    <!-- ejs -->
    <script>
        var clientID = '<%= clientID %>';
    </script>
</head>
<body>
    <div class="top">
        <nav role="navigation" class="navbar navbar-default navbar-fixed-top">
            <div class="nav nav-wrapper">
                <ul class="nav navbar-nav navbar-right">
                    <li data-toggle="modal" data-target="#helpModal">
                        <a href="#" id="openHelpModal" data-toggle="tooltip" data-placement="bottom" title="HELP"><i class="fa fa-question-circle"></i></a>
                    </li>
                    <li><a href="#" id="winRefresh" data-toggle="tooltip" data-placement="bottom" title="REFRESH"><i class="fa fa-refresh"></i></a></li>
                    <li><a href="#" id="winMinimize" data-toggle="tooltip" data-placement="bottom" title="MINIMIZE"><i class="fa fa-minus"></i></a></li>
                    <li><a href="#" id="winMaximize" data-toggle="tooltip" data-placement="bottom" title="MAXIMIZE"><i class="fa fa-square-o"></i></a></li>
                    <li><a href="#" id="winClose" data-toggle="tooltip" data-placement="bottom" title="CLOSE"><i class="fa fa-times"></i></a></li>
                </ul>
            </div>
        </nav>
    </div>
    <!-- Login box -->
    <div class="middle">
        <div class="twitch-button-container">
            <img src="http://ttv-api.s3.amazonaws.com/assets/connect_dark.png" class="twitch-connect" href="#" />
        </div>
    </div>

    <!-- Modal -->
    <div id="helpModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">LOGIN TO SINGULARITY WITH TWITCH</h4>
                </div>
                <div class="modal-body">
                    <p>
                        To use <strong>SINGULARITY</strong> you need to authenticate with Twitch. Click the
                        'Connect with Twitch' button to start.
                    </p>
                    <p>
                        You'll be sent to Twitch to authorize <strong>SINGULARITY</strong> and allow some
                        permissions. These include:
                    </p>
                    <ul>
                        <li><strong>User Read:</strong> permits read access to non-public user information</li>
                        <li><strong>Channel Read:</strong> permits read access to non-public channel information</li>
                        <li><strong>Channel Editor:</strong> permits changing game & status</li>
                        <li><strong>Chat Login:</strong> grants ability to log into chat (to listen for subscribers)</li>
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
    <!-- scripts -->
    <script src="../js/jquery-2.2.1.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <!-- socket.io -->
    <script src="/socket.io/socket.io.js"></script>
    <!-- more scripts -->
    <script src="../js/setup.js"></script>
    <script src="../js/nav.js"></script>
    <script>
        $('.twitch-connect').click(function (e) {
            e.preventDefault();
            window.location.href = 'https://api.twitch.tv/kraken/oauth2/authorize?response_type=token' +
                                   '&client_id=' + clientID +
                                   '&redirect_uri=http://localhost:2016/auth' +
                                   '&scope=user_read+channel_read+channel_editor+channel_subscriptions+chat_login' +
                                   '&force_verify=true';
        });
    </script>
</body>
</html>