<!DOCTYPE html>
<html>
<head>
  <title>singularity - setup complete</title>
  <style>
    html {
      background-color: #13a89e;
      min-height: 100%;
    }
  </style>
  <script>
    function bodyOnLoad(){
      window.location.assign('http://localhost:2016/setup#done');
    }
  </script>
</head>
<body onload="bodyOnLoad()">
<div class="loading"></div>
</body>
</html>