<!DOCTYPE html>
<!--suppress JSUnresolvedLibraryURL, HtmlUnknownTarget -->
<html >
  <head>
      <meta charset="UTF-8">
      <title>Follower Alerts</title>
      <link rel="stylesheet" href="css/style.css">
      <!-- socket.io -->
      <script src="/socket.io/socket.io.js"></script>
  </head>

  <body>
      <div id="container"></div>

      <script src='//cdnjs.cloudflare.com/ajax/libs/gsap/1.18.0/TweenMax.min.js'></script>
      <script src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
      <script src='//cdnjs.cloudflare.com/ajax/libs/gsap/1.9.0/plugins/TextPlugin.min.js'></script>
      <script src='//code.createjs.com/createjs-2015.11.26.min.js'></script>

      <script src="js/follower.js"></script>
  </body>
</html>
