<!DOCTYPE html>
<!--suppress JSUnresolvedLibraryURL, HtmlUnknownTarget -->
<html >
  <head>
      <meta charset="UTF-8">
      <title>Host Alerts</title>
      <link rel="stylesheet" href="/views/overlays/css/hosts.css">
      <!-- socket.io -->
      <script src="/socket.io/socket.io.js"></script>
  </head>

  <body>
      <div id="container"></div>

      <script src='../../js/vendor/TweenMax.min.js'></script>
      <script src='../../js/vendor/jquery-2.2.1.min.js'></script>
      <script src='../../js/vendor/TextPlugin.min.js'></script>
      <script src='../../js/vendor/createjs-2015.11.26.min.js'></script>

      <script src="/views/overlays/js/hosts.js"></script>
  </body>
</html>