<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>singularity - slider</title>
  <style>
    html, body {
      overflow: hidden;
    }
    @font-face {
      font-family: 'Univers';
      src: url('/views/overlays/fonts/UniversLTStd-LightCnObl.otf') format('opentype');
      font-weight: normal;
      font-style: normal;
    }
    #container{
      position: relative;
      width: 650px;
      height: 850px;
      overflow: hidden;
      margin: auto;
    }
    #itemOneContainer1 {
        margin-top: 350px;
    }
    #headerP1 {
      text-align: center;
      font-size: 58px;
      font-family: Univers;
      line-height: 65px;
    }
    #twitterContainer {
      margin-top: 63px;
      margin-left: 60px;
    }
    #chat_box {
      margin-top: 63px;
    }
    .slide{
      width: 650px;
      height: 850px;
      position: absolute;
      top: 0;
      left: 0;
      font-size: 50px;
      text-align: center;
    }

    .slide:nth-child(1){
    }

    .slide:nth-child(2){
    }

    .slide:nth-child(3){
    }

    .slide:nth-child(4){
    }
  </style>
</head>
  <body>
    <div id="container">
      <div class="slide">
        <div id="itemOneContainer1" class="textHeader">
          <p id="headerP1">WELCOME TO THE CITYCIDE</p>
        </div>
      </div>
      <div class="slide">
        <div id="chat_box">
          <iframe src="https://www.nightdev.com/hosted/obschat/?theme=bttv_dark&channel=citycide&fade=false&bot_activity=true" frameborder="0" scrolling="no" width="550" height="600"></iframe>
        </div>
      </div>
      <div class="slide">
        <div id="twitterContainer">
          <a class="twitter-timeline" href="https://twitter.com/thecitycide" data-widget-id="652214296483528704" width="600" height="700" data-tweet-limit="7" data-chrome="noheader noscrollbar nofooter"></a>
          <script>
              !function (d, s, id) {
                  var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https';
                  if (!d.getElementById(id)) {
                      js = d.createElement(s);
                      js.id = id;
                      js.src = p + "://platform.twitter.com/widgets.js";
                      fjs.parentNode.insertBefore(js, fjs);
                  }
              }(document, "script", "twitter-wjs");
          </script>
        </div>
      </div>
    </div>
    <script src='../../js/vendor/jquery.min.js'></script>
    <script src='../../js/vendor/TweenMax.min.js'></script>
    <!-- <script src='../../js/vendor/TextPlugin.min.js'></script> -->
    <!-- <script src='../../js/createjs-2015.11.26.min.js'></script> -->
    <script>
        $(function () {
            var loc = window.location;
            var locHash = loc.hash.toString();
            if (locHash == '#intro') {
                document.getElementById('headerP1').innerHTML = "stream is starting soon.\<br\>feel free to join the chat!";
            }
            if (locHash == '#outro') {
                document.getElementById('headerP1').innerHTML = "thanks for stopping by -\<br\>see you again soon! peace!";
            }

            var $slides = $(".slide");
            var currentSlide = 0;

            TweenLite.set($slides.filter(":gt(0)"), {left: "960px"});
            TweenLite.delayedCall(10, nextSlide);

            function nextSlide() {
                TweenLite.to($slides.eq(currentSlide), 1, {left: "-960px"});

                if (currentSlide < $slides.length - 1) {
                    currentSlide++;
                }
                else {
                    currentSlide = 0;
                }

                TweenLite.fromTo($slides.eq(currentSlide), 1, {left: "960px"}, {left: "0px"});
                TweenLite.delayedCall(10, nextSlide);
            }
        });
    </script>
  </body>
</html>