@import url(https://fonts.googleapis.com/css?family=Abel);

html, body { height: 100% !important; }

body {
    padding-top: 70px !important;
    background-color: #ddd !important;
}
#fullwrapper {
    display: flex;
    min-height: 100%;
    flex-direction: column;
}
#bodywrapper {
    flex: 1;
}
.navbar {
    -webkit-app-region: drag;
    background-color: #13a89e !important;
}
.navbar-right {
    -webkit-app-region: no-drag;
    padding-right: 10px !important;
    margin-right: -4px !important;
}
.navbar-right > .btn-group .dropdown-toggle {
    color: mintcream;
    font-size: medium;
    padding: 10px 8px 0 8px !important;
    cursor: pointer;
    height: 50px !important;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.navbar-right > .btn-group .dropdown-toggle:hover {
    color: #363636;
}
.navbar-right > .btn-group.open .dropdown-toggle,
.navbar-right > .btn-group.open .dropdown-toggle:hover,
.navbar-right > .btn-group.open .dropdown-toggle:focus,
.navbar-right > .btn-group.open .dropdown-toggle:active {
    color: #13a89e;
}
.navbar-right > .btn-group:focus,
.navbar-right > .btn-group:active,
.navbar-right > .btn-group.open {
    color: #13a89e;
    background-color: #363636;
}
.navbar-nav > li > a {
    -webkit-app-region: no-drag;
    font-size: medium;
    color: mintcream !important;
    padding: 14px 8px 0 8px !important;
    height: 50px !important;
}
.navbar-nav > li > a:hover {
    -webkit-app-region: no-drag;
    color: #363636 !important;
}
.navbar-brand {
    -webkit-app-region: no-drag;
    font-family: 'Abel', sans-serif !important;
    color: mintcream !important;
    padding: 14px 10px 0 10px !important;
    height: 50px !important;
}
.navbar-brand:hover {
    color: #363636 !important;
}
.navbar {
    min-height: 50px !important;
}
.navbar-toggle {
    -webkit-app-region: no-drag;
    color: mintcream !important;
    font-size: 22px;
    padding: initial;
    margin: -4px 0 -5px 0 !important;
}

#profile-dropdown-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
}
.navbar-nav > .active > a,
.navbar-nav > .active > a:hover,
.navbar-nav > .active > a:focus {
    color: #13a89e !important;
    background-color: #363636 !important;
}
#winClose {
    margin-top: -1.5px;
}
.tab-pane {
    height: initial !important;
}

/* custom tabs */
#testing h3 {
    margin-top: 0;
}
#testing .badge {
    background-color: #777;
}

#testing .tabs-left {
}

#testing .nav-tabs {
    float: left;
    border-bottom: 0;
    font-size: 24px;
}
#testing .nav-tabs li {
    float: none;
    margin: 0;
}
#testing .nav-tabs li a {
    margin-right: 0;
    border: 0;
    background-color: #363636;
}
#testing .nav-tabs li a:hover {
    background-color: #fff;
}
#testing .nav-tabs .fa {
    color: #fff;
}
#testing .nav-tabs .active .fa {
    color: #363636;
}
#testing .nav-tabs>li>a,
#testing .nav-tabs>li>a:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
}
#testing .nav-tabs>li.active>a,
#testing .nav-tabs>li.active>a:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
}
#testing .nav-tabs > li.active > a,
#testing .nav-tabs > li.active > a:hover,
#testing .nav-tabs > li.active > a:focus {
    background-color: #fff;
    border: 0;
}
#testing .nav-tabs > li > a:hover,
#testing .nav-tabs > li > a:focus:hover {
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: #484848;
}
#testing .nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus:hover {
    background-color: #fff;
}
#testing .tab-content {
    margin-left: 45px;
}
#testing .tab-content .tab-pane {
    display: none;
    background-color: #fff;
    padding: 1.6rem;
    overflow-y: auto;
    min-height: 320px;
}
#testing .tab-content .tab-pane .fa {
    color: #363636;
}
#testing .tab-content .active {
    display: block;
}
#testing .list-group {
    width: 100%;
}
#testing .list-group .list-group-item {
    height: 50px;
}
#testing .list-group .list-group-item h4,
#testing .list-group .list-group-item span {
    line-height: 11px;
}
/* end custom tabs */

.tab-content {
    margin-left: 45px;
}
.tab-content .tab-pane {
    display: none;
    background-color: #ddd;
    padding: 1.6rem;
    overflow-y: auto;
}
.tab-content .active {
    display: block;
}

.list-group {
    width: 100%;
}
.list-group .list-group-item {
    height: 50px;
}
.list-group .list-group-item h4, .list-group .list-group-item span {
    line-height: 11px;
}
.tooltip .tooltip-inner {background-color: #363636;}
.tooltip.bottom .tooltip-arrow {border-bottom-color: #363636 !important;}
.tooltip.top .tooltip-arrow {border-top-color: #363636 !important;}
.tooltip.right .tooltip-arrow {border-right-color: #363636 !important;}
.tooltip.left .tooltip-arrow {border-left-color: #363636 !important;}

#twitchChat {
    height: 100%;
}
i.fa-body {
    color: #363636;
}
.panel, .panel-default {
    background-color: #fff !important;
    border-radius: 0 !important;
}
.panel-badge-container {
    padding-top: 18px !important;
}
.panel-badge-container .panel-icon {
    margin-right: 20px !important;
}
#badgeFollow i {
    font-size: 22px;
    line-height: 48px;
}

.btnCollapse.pull-right {
    padding-right: 14px;
}

.btnCollapsePanel {
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    transition-property: transform;
}

[contenteditable] {
    white-space: normal;
    padding: 3px 10px 3px 10px;
}
[contenteditable]:focus {
    border-bottom: 1px #13a89e solid;
    outline: none;
}

.font-med {
    color: #363636;
    font-size: 14px;
}
.font-huge {
    font-size: 52px;
    line-height: 48px;
}
.text-dkgray {
    color: #363636;
}
.panel-icon {
    margin-top: 6px;
    line-height: 50px;
}
.panel-badge {
    margin-top: 2px;
}
.title-bold {
    font-weight: 600;
}

.btn.btn-circle {
    font-size: 24px;
    color: mintcream;
    background-color: #6441A5;
    position: absolute;
    right: 10px;
    bottom: 70px;
    width: 65px;
    height: 65px;
    padding: 0;
    border-radius: 50%;
    -webkit-box-shadow: 0 1px 15px 0 rgba(0, 0, 0, 0.12), 0 3px 15px 0 rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 0 1px 15px 0 rgba(0, 0, 0, 0.12), 0 3px 15px 0 rgba(0, 0, 0, 0.24);
    box-shadow: 0 1px 15px 0 rgba(0, 0, 0, 0.12), 0 3px 15px 0 rgba(0, 0, 0, 0.24);
}
.btn.btn-circle:hover {
    color: mintcream;
    -webkit-box-shadow: 0 1px 15px 0 rgba(0, 0, 0, 0.38), 0 3px 15px 0 rgba(0, 0, 0, 0.50);
    -moz-box-shadow: 0 1px 15px 0 rgba(0, 0, 0, 0.38), 0 3px 15px 0 rgba(0, 0, 0, 0.50);
    box-shadow: 0 1px 15px 0 rgba(0, 0, 0, 0.38), 0 3px 15px 0 rgba(0, 0, 0, 0.50);
}
.btn.btn-circle:focus,
.btn.btn-circle:active,
.btn.btn-circle.active,
.btn.btn-circle:active:focus,
.btn.btn-circle.active:focus {
    outline: 0;
}
.scroll {
    overflow: auto;
    word-wrap: break-word;
}
#footer {
    bottom: 0;
    padding-top: 12px;
    padding-left: 40px;
    padding-right: 40px;
    min-height: 50px;
    background: #13a89e;
}
#footer p {
    margin-top: 4px;
    font-size: 16px;
    color: mintcream;
}
#footer a {
    color: floralwhite;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
::-webkit-scrollbar-button {
    width: 8px;
    height: 4px;
}
::-webkit-scrollbar-thumb {
    background: #737373;
    border: none;
    border-radius: 8px;
}
::-webkit-scrollbar-thumb:hover {
    background: #808080;
}
::-webkit-scrollbar-thumb:active {
    background: #666666;
}
::-webkit-scrollbar-track {
    background: transparent;
    border: none;
    border-radius: 6px;
}
::-webkit-scrollbar-track:hover {
    background: transparent;
}
::-webkit-scrollbar-track:active {
    background: transparent;
}
::-webkit-scrollbar-corner {
    background: transparent;
}