@import url(https://fonts.googleapis.com/css?family=Abel);

html, body { height: 100% !important; }

body {
    padding-top: 70px !important;
}
#fullwrapper {
    display: flex;
    min-height: 100%;
    flex-direction: column;
}
#bodywrapper {
    flex: 1;
}
.navbar {
    -webkit-app-region: drag;
    background-color: #13a89e !important;
}
.navbar-right {
    -webkit-app-region: no-drag;
    padding-right: 10px !important;
    margin-right: -4px !important;
}
.navbar-right > .btn-group .dropdown-toggle {
    color: mintcream;
    font-size: medium;
    padding: 10px 8px 0 8px !important;
    cursor: pointer;
    height: 50px !important;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.navbar-right > .btn-group .dropdown-toggle:hover {
    color: #363636;
}
.navbar-right > .btn-group.open .dropdown-toggle,
.navbar-right > .btn-group.open .dropdown-toggle:hover,
.navbar-right > .btn-group.open .dropdown-toggle:focus,
.navbar-right > .btn-group.open .dropdown-toggle:active {
    color: #13a89e;
}
.navbar-right > .btn-group:focus,
.navbar-right > .btn-group:active,
.navbar-right > .btn-group.open {
    color: #13a89e;
    background-color: #363636;
}
.navbar-nav > li > a {
    -webkit-app-region: no-drag;
    font-size: medium;
    color: mintcream !important;
    padding: 14px 8px 0 8px !important;
    height: 50px !important;
}
.navbar-nav > li > a:hover {
    -webkit-app-region: no-drag;
    color: #363636 !important;
}
.navbar-brand {
    -webkit-app-region: no-drag;
    font-family: 'Abel', sans-serif !important;
    color: mintcream !important;
    padding: 14px 10px 0 10px !important;
    height: 50px !important;
}
.navbar-brand:hover {
    color: #363636 !important;
}
.navbar {
    min-height: 50px !important;
}

#profile-dropdown-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
}
.navbar-nav > .active > a,
.navbar-nav > .active > a:hover,
.navbar-nav > .active > a:focus {
    color: #13a89e !important;
    background-color: #363636 !important;
}
#winClose {
    margin-top: -1.5px;
}
.panel-default > .panel-heading-follow,
#btnTestFollower {
    color: mintcream !important;
    background-color: #0d47a1 !important;
}
.panel-default > .panel-heading-host,
#btnTestHost {
    color: mintcream !important;
    background: #f57c00 !important;
}
.panel-default > .panel-heading-subscriber,
#btnTestSub {
    color: mintcream !important;
    background: #388e3c !important;
}
.panel-default > .panel-heading-donation,
#btnTestDonation {
    color: mintcream !important;
    background: #ef5350 !important;
}
.tooltip .tooltip-inner {background-color: #363636;}
.tooltip.bottom .tooltip-arrow {border-bottom-color: #363636 !important;}
.tooltip.top .tooltip-arrow {border-top-color: #363636 !important;}
.tooltip.right .tooltip-arrow {border-right-color: #363636 !important;}
.tooltip.left .tooltip-arrow {border-left-color: #363636 !important;}

#twitchChat {
    height: 100%;
}

.btnCollapse.pull-right {
    padding-right: 14px;
}

.btnCollapsePanel {
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    transition-property: transform;
}

[contenteditable] {
    white-space: normal;
    padding: 3px 10px 3px 10px;
}
[contenteditable]:focus {
    border-bottom: 1px #13a89e solid;
    outline: none;
}

.btn.btn-circle {
    font-size: 24px;
    color: mintcream;
    background-color: #6441A5;
    position: absolute;
    right: 10px;
    bottom: 70px;
    width: 65px;
    height: 65px;
    padding: 0;
    border-radius: 50%;
    -webkit-box-shadow: 0 1px 15px 0 rgba(0, 0, 0, 0.12), 0 3px 15px 0 rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 0 1px 15px 0 rgba(0, 0, 0, 0.12), 0 3px 15px 0 rgba(0, 0, 0, 0.24);
    box-shadow: 0 1px 15px 0 rgba(0, 0, 0, 0.12), 0 3px 15px 0 rgba(0, 0, 0, 0.24);
}
.btn.btn-circle:hover {
    color: mintcream;
    -webkit-box-shadow: 0 1px 15px 0 rgba(0, 0, 0, 0.38), 0 3px 15px 0 rgba(0, 0, 0, 0.50);
    -moz-box-shadow: 0 1px 15px 0 rgba(0, 0, 0, 0.38), 0 3px 15px 0 rgba(0, 0, 0, 0.50);
    box-shadow: 0 1px 15px 0 rgba(0, 0, 0, 0.38), 0 3px 15px 0 rgba(0, 0, 0, 0.50);
}
.btn.btn-circle:focus,
.btn.btn-circle:active,
.btn.btn-circle.active,
.btn.btn-circle:active:focus,
.btn.btn-circle.active:focus {
    outline: 0;
}
.scroll {
    overflow: auto;
    word-wrap: break-word;
}
#footer {
    padding-top: 12px;
    padding-left: 40px;
    padding-right: 40px;
    min-height: 53px;
    background: #13a89e;
}
#footer p {
    margin-top: 4px;
    font-size: 16px;
    color: mintcream;
}
#footer a {
    color: beige;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
::-webkit-scrollbar-button {
    width: 8px;
    height: 4px;
}
::-webkit-scrollbar-thumb {
    background: #737373;
    border: none;
    border-radius: 8px;
}
::-webkit-scrollbar-thumb:hover {
    background: #808080;
}
::-webkit-scrollbar-thumb:active {
    background: #666666;
}
::-webkit-scrollbar-track {
    background: transparent;
    border: none;
    border-radius: 6px;
}
::-webkit-scrollbar-track:hover {
    background: transparent;
}
::-webkit-scrollbar-track:active {
    background: transparent;
}
::-webkit-scrollbar-corner {
    background: transparent;
}