<html>
<head>
    <link rel="stylesheet" type="text/css" href="../css/loader.css" />
    <script src="../js/vendor/jquery.min.js"></script>
    <!-- socket.io -->
    <script src="/socket.io/socket.io.js"></script>
    <!-- ejs -->
    <script>
        var clientID = '<%= clientID %>';
        var setupComplete = '<%= setupComplete %>'
    </script>
    <script>
        $(document).ready(function() {
            var socket = io();

            var username = '', logo = '', id;
            var access_token = "oauth:" + window.location.hash.substring(14, 44);

            $.when($.getJSON(
                    'https://api.twitch.tv/kraken?oauth_token=' + access_token.slice(6) +
                    '&client_id=' + clientID)
            ).done(function(data) {
                username = data.token.user_name;
                $.when($.getJSON('https://api.twitch.tv/kraken/users/' + username)
                ).done(function (res) {
                    if (res.logo === null) {
                        logo = 'http://static-cdn.jtvnw.net/jtv_user_pictures/xarth/404_user_300x300.png';
                    } else {
                        logo = res.logo;
                    }
                    id = res._id;
                    socket.emit('authCallback', {
                        token: access_token,
                        user: username,
                        logo: logo,
                        id: id
                    });
                    if (setupComplete) {
                        console.log(window.location.origin + '/setup#done');
                        window.location.assign(window.location.origin + '/setup#done');
                    } else {
                        window.location.assign(window.location.origin);
                    }
                });
            });
        });
    </script>
</head>
<body>
    <div id="loader-wrapper">
        <div id="loader"></div>
        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>
    </div>
</body>
</html>