<!DOCTYPE html>
<html id="app">

<head>
    <title>singularity</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:300,400' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900' rel='stylesheet' type='text/css'>
    <!-- CSS Libs -->
    <link rel="stylesheet" type="text/css" href="../css/vendor/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../fonts/font-awesome.min.css"/>
    <link rel="stylesheet" type="text/css" href="../css/vendor/select2.min.css">
    <link rel="stylesheet" type="text/css" href="../css/vendor/waves.css"/>
    <!-- CSS App -->
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <link rel="stylesheet" type="text/css" href="../css/loader.css"/>
    <link rel="stylesheet" type="text/css" href="../css/themes/flat-main.css">

    <script src="../js/contextHandler.js"></script>
</head>

<body class="flat-main">
    <div class="window-frame-left"></div>
    <div class="window-frame-right"></div>
    <div class="window-frame-top"></div>
    <div class="window-frame-bottom"></div>

    <section class="window-content">
        <header class="title-bar">
            <div class="drag-handle"></div>
            <div class="controls">
                <div id="winRefresh" class="control" data-toggle="tooltip" data-trigger="hover" data-placement="bottom" title="REFRESH">
                    <i class="fa fa-refresh"></i>
                </div>
                <div id="winMinimize" class="control" data-toggle="tooltip" data-trigger="hover" data-placement="bottom" title="MINIMIZE">
                    <i class="fa fa-minus"></i>
                </div>
                <div id="winMaximize" class="control" data-toggle="tooltip" data-trigger="hover" data-placement="bottom" title="MAXIMIZE">
                    <i class="material-icons">crop_square</i>
                </div>
                <div id="winClose" class="control" data-toggle="tooltip" data-trigger="hover" data-placement="bottom" title="CLOSE">
                    <i class="material-icons">close</i>
                </div>
            </div>
        </header>

        <main class="full-container">
            <div id="loader-wrapper">
                <div id="loader"></div>
                <div class="loader-section section-left"></div>
                <div class="loader-section section-right"></div>
            </div>
            <div class="app-container" style="overflow: hidden;">
                <iframe id="content-viewer" src="<%- decodeURI(source) %>" height="100%" width="100%" frameborder="none"></iframe>
            </div>
        </main>
    </section>
    <!-- ejs -->
    <script>

    </script>
    <!-- Electron jQuery fix -->
    <script>window._module = window.module; window.module = undefined;</script>
    <!-- vue -->
    <script src="../js/vendor/vue.min.js"></script>
    <!-- socket.io -->
    <script src="/socket.io/socket.io.js"></script>
    <!-- js libs -->
    <script type="text/javascript" src="../js/vendor/jquery.min.js"></script>
    <script type="text/javascript" src="../js/vendor/bootstrap.min.js"></script>
    <script type="text/javascript" src="../js/vendor/waves.js"></script>
    <!-- js -->
    <script>
        window.module = window._module;
        // document.body.classList.add(process.platform);
    </script>
    <script>
        setTimeout(function() {
            $('body').addClass('loaded');
        }, 1000);
    </script>
</body>

</html>