doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title singularity
    link(rel='stylesheet' href='../../node_modules/material-design-icons-iconfont/dist/material-design-icons.css')
    link(rel='stylesheet' href='../../node_modules/keen-ui/dist/min/keen-ui.min.css')
    link(rel='stylesheet' href='../../node_modules/gritcode-components/dist/gritcode-components.min.css')
  body
    app
    script(type='text/javascript').
      require('./main')
